

body{
    background-color: rgba(0, 0, 0, 0.849);
}





/* Zahlen*/

.zahlenBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zahlenHeader{
    color: var(--textNormalColor);
    color: rgb(255, 255, 255);
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.08rem;
    font-weight: 1000;
    text-decoration: underline var(--underlineColor);
}


/* Systeme*/

.systemeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ausgansSytemDiv, .zielSytemDiv{
    margin: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.ausgansSytemDiv{
    align-self: flex-end;
}

.labelBasea, .labelBasez{
    background-color: var(--backgroundNormal);
    color: var(--textNormalColor);

    padding: 0.2rem;

    border: 3px solid var(--borderColor);
    border-radius: 20px 0 0 20px;

    box-shadow: 
        0 5px 6px var(--boxShadowing),
        0 10px 20px var(--boxShadowing);
}

.selectBasea, .selectBasez{
    background-color: var(--backgroundNormal);
    color: var(--textNormalColor);

    padding: 0.35rem;

    border: 3px solid var(--borderColor);
    border-radius: 0 20px 20px 0;

    box-shadow: 
        0 5px 6px var(--boxShadowing),
        0 10px 20px var(--boxShadowing);

    outline: none;
}



/*ZahlenInput*/


.zahlenInputfeld{
    font-size: 1.3rem;
    text-align: center;
    padding: 0.1rem;
    margin-top: 2rem;

    background-color: var(--backgroundNormal);

    color: var(--textNormalColor);

    border: 4px solid var(--borderColor);
    border-radius: 30px;

    outline: none;

    box-shadow: 
        0 5px 6px var(--boxShadowing),
        0 10px 20px var(--boxShadowing);

    transition: transform 0.1s ease-in;
}

.zahlenInputfeld:hover{
    transform: scale(1.01);
}

.zahlenInputfeld:focus{
    box-shadow: 
        0 5px 20px var(--boxShadowing),
        0 10px 25px var(--boxShadowing);
}


::placeholder{
    color: var(--textNormalColor);
    opacity: 0.5;
}

input {
  background-color: black;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  transition: background-color 9999s ease-in-out 0s;
}






.zahlenButtoncss{
    font-size: 1.4rem;
    text-align: center;
    margin:2rem 0 ;
    padding: 0.1rem 0.5rem;

    color: var(--textNormalColor);

    background-color: var(--backgroundNormal);

    border: 4px solid var(--borderColor);
    border-radius: 30px;

    outline: none;

    box-shadow: 
        0 5px 6px var(--boxShadowing),
        0 10px 20px var(--boxShadowing);

    transition: box-shadow 0.1s ease-in;
}

.zahlenButtoncss:hover{
    box-shadow: 
        0 5px 15px var(--boxShadowing),
        0 10px 25px var(--boxShadowing);
}

.zahlenButtoncss:active{
    transform: translateY(3px);
}

/* Falsche Eingabe*/

.falscheEingabestyle{
    font-size: 1.7rem;
    text-align: center;
    margin:2rem 0 ;
    padding: 0.1rem 0.5rem;

    background-color: var(--backgroundNormal);

    border: 4px solid red;
    border-radius: 30px;

    outline: none;

    color: red;

    box-shadow: 
        0 5px 6px var(--boxShadowing),
        0 10px 20px var(--boxShadowing);

    display: none;
    transition: display 0.2s ease;
}




/* Ausgabe Rechenweg*/



.zahlenAusgabestyle{
    display: flex;
    flex-direction: column;

    min-width: 350px;

    font-size: 1.7rem;
    margin:1.5rem 0 ;
    padding: 0.1rem 0.5rem;

    background-color: var(--backgroundNormal);

    color: var(--textNormalColor);

    border: 4px solid var(--borderColor);
    border-radius: 30px;

    outline: none;

    box-shadow: 
        0 5px 6px var(--boxShadowing),
        0 10px 20px var(--boxShadowing);

    transition: box-shadow 0.1s ease;
}

.zahlenAusgabestyle:hover{
     box-shadow: 
        0 5px 15px var(--boxShadowing),
        0 10px 25px var(--boxShadowing);
}

.loesungsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.loesungsDiv .loesungText{
    font-size: 1.5rem;
    text-decoration: underline;
    flex-wrap: wrap;
}

.loesungsDiv #loesungOutput{
    padding-left: 0.5rem;
    font-size: 1.5rem;
}


.rechenwegDiv{
    display: none;
    flex-direction: column;
}

.rechenwegDiv .rechenwegText{
    font-size: 1.2rem;
    margin-bottom: 0;
    text-decoration: underline;
}


.rechenwegDiv #rechenwegOutput{
    margin: 0;
    padding-left: 0.5rem;
    font-size: 1.0rem;
}

/*Im Rechenweg*/

.rechenSchrittText{
    padding: 1rem 0.5rem;
}


.loesungEndeRechnung{
    margin-top: 0.5rem;
}

.zahlInfo{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

sub{
    font-size: 0.7rem;
    user-select: none;
}

pre {
    margin: 5px 0;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    border-radius: 8px;
}

#tipp{
    display: none;
    font-size: 1rem;
    color: rgb(20, 134, 45);
}


